<p>one works!</p>
<button (click)="getProductFun()">Get Product</button>

<form  [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div>
    <label>first name</label>
    <input  formControlName="firstname">
  </div>
  <div>
    <button type="submit">Submit</button>
  </div>
</form>

<!-- <div>{{input$ | async}}</div> -->

<div *ngIf="input$">
    <ul *ngFor="let i of input$ | async">
        <li>{{i}}</li>
    </ul>
</div>

<!-- ? meaning is if its is null dont do anything-->
<div *ngIf="{people : input$ | async} as vm ">
    <!-- <ul *ngFor="let i of vm.people.value">
        <li>{{i}}</li>
    </ul> -->
    <!-- <ul *ngFor="let i of (input$ | async)?.value">
        <li>{{i}}</li>
    </ul> -->
</div>


<!--here we get response if not get response then show ng-contain with loading-->
<!-- <div *ngIf="input$; else loading">

</div>
<ng-template #loading>
    <p>Loading...</p>
</ng-template> -->

